body {
    background-color: rgb(212, 212, 212);

}

header {
display: flex;
height: 100px;
justify-content: center;
background-color:white;
font-size: 10px;
}

.blok1 {
    display: flex;
    border: none;
    background-color:white;
    height: 150px;
    margin: 10px;
}

.blok2 {
    display: flex;
    border: none;
    background-color:white;
    height: 150px;
    margin: 10px;
}

.blok3 {
    display: flex;
    border: none;
    background-color:white;
    height: 150px;
    margin: 10px;
}

.blok4{
    display: flex;
    border: none;
    background-color:white;
    height: 150px;
    margin: 10px;
}

.blok5{
    display: flex;
    border: none;
    background-color:white;
    height: 150px;
    margin: 10px;
}

.okok22 {

    display: flex;
    border: none;
    background-color:white;
    height: 150px;
    margin: 10px;
}

.okok11
{
    display: flex;
    border: none;
    background-color:white;
    height: 150px;
    margin: 10px;
}